@import url(../css/background.css);
@import url(../css/header.css);
@import url(../css/main.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}


a{
text-decoration: none;
}

button:hover{
    cursor: pointer;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}